<div style="text-align:center" *ngIf="!isLogged" else elseBlock>
  <mat-card *ngIf="users.length > 0">
    <mat-list>
      <mat-list-item *ngFor="let user of users ;let i = index">
        <mat-divider *ngIf="i != 0"></mat-divider>
        <span>{{user.email}}</span>
        <button (click)="logUser(user)" mat-raised-button color="primary" style="margin: auto">Log in</button>
      </mat-list-item>
    </mat-list>
  </mat-card>
</div>
<div #elseBlock>
  <mat-card *ngIf="categories.length > 0">
    <mat-list>
      <mat-list-item *ngFor="let category of categories ;let i = index">
        <mat-divider *ngIf="i != 0"></mat-divider>
        <span>{{category}}</span>
        <button (click)="getCategoryDetails(category)" mat-raised-button color="primary" style="margin: auto">
          Get details
        </button>
      </mat-list-item>
    </mat-list>
  </mat-card>
  <mat-expansion-panel hideToggle *ngFor="let item of categoryDetails ;let i = index">
    <mat-divider *ngIf="i != 0"></mat-divider>
    <mat-expansion-panel-header>
      <h2>{{item.title}}</h2>
    </mat-expansion-panel-header>
      <mat-panel-description>
        <p>{{item.description}}</p>
      </mat-panel-description>
  </mat-expansion-panel>
</div>
